@import './reset.css';
@import './border.css';
.t-c {
    text-align: center;
}

.submit-class {
    margin-top: 1.5rem;
}

.padding16 {
    padding-left: 16px;
    padding-right: 16px;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
    overflow: hidden;
}

.float-l {
    float: left;
}

.float-r {
    float: right;
}